@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	@apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
	@apply rounded-[39px];
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-light-scrollBar rounded-[39px];
}

/* Hide scrollbar */
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Global app grid */

.global-grid-nav {
	@apply w-20 max-h-screen overflow-x-hidden;
	@apply overflow-y-auto;
	@apply dark:bg-dark-grey bg-white;
}

.global-grid-left {
	@apply min-w-[16rem] max-w-[18.75rem] max-h-screen flex-1;
	@apply overflow-y-auto;
	@apply dark:border-0;
	@apply dark:bg-dark-blue bg-white;
}

.global-grid-mid {
	@apply w-full max-h-screen flex-[3];
	@apply overflow-y-auto;
	@apply dark:border-0;
	@apply dark:bg-dark-background bg-white;
}

.global-grid-right {
	@apply min-w-[16rem] max-w-[21.875rem] max-h-screen flex-1;
	@apply overflow-y-auto;
	@apply dark:bg-dark-blue bg-white;
	@apply dark:border-0;
}

.swiper-button-disabled {
	@apply cursor-pointer dark:hover:border-white hover:border-light-gray opacity-50;
}

/* hide number input arrows */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.skeleton-loader:empty {
	display: block;
	width: 100%;
	height: 15px;
	max-height: 90%;
	background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 80%
		),
		lightgray;
	background-repeat: repeat-y;
	background-size: 50px 500px;
	background-position: 0 0;
	animation: shine 1s infinite;
}

@keyframes shine {
	to {
		background-position: 100% 0;
	}
}
